<!DOCTYPE html>
<html ng-app="m4numbers">
<head>
  <title>M4Numbers - {% if title is empty %}{{ general.title }}{% else %}{{ title }}{% endif %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="{% if description is empty %}{{ general.description }}{% else %}{{ description }}{% endif %}" />

  <base href="{{ general.base_location }}" />

  <link rel="shortcut icon" type="image/ico" href="./assets/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" type="text/css" href="./assets/css/mystyle.css" />

  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js" ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
  <script type="text/javascript" src="./assets/js/angular.js" ></script>
  <script type="text/javascript" src="./assets/js/QTransform.js" ></script>
  <script type="text/javascript" src="./assets/js/cyniEss.js" ></script>
  <script type="text/javascript" src="./assets/js/analytics.js"></script>
  <script type="text/javascript" src="./assets/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- End Google Analytics -->

  {% block style %}{% endblock %}
</head>
<body>

  <div class="header" >
    <div class="logo" id="dial" onclick="toTheTop()"></div>
  </div>

  <nav class="navbar navbar-static-top navbar-inverse slots" >
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        {% if parts %}
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        {% endif %}
        <a class="navbar-brand no_underline" href="./" >M4Numbers</a>
      </div>

      {% if parts %}
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% set totalparts = '' %}
            {% for part in parts %}
              {% if totalparts %}
                {% set totalparts = totalparts ~ '/' ~ part %}
              {% else %}
                {% set totalparts = part %}
              {% endif %}
              <li><a href="./{{ totalparts }}" class="no_underline">{{ part }}</a></li>
            {% endfor %}
          </ul>
        </div><!-- /.navbar-collapse -->
      {% endif %}
    </div><!-- /.container-fluid -->
  </nav>

  {% block content %}{% endblock %}

</body>
</html>
